include ../underline/underline

mixin header
    .header
        .header__content
            h1.header__content-title We set the standarts
            +underline
            p.header__content-text Our patients value dental work and the quality of service provided. Sign up for a visit and have a positive experience with you!
            button.header__content-btn Our services
