include ../../../components/underline/underline

mixin our-dentists
    .ourdentists
        h1.ourdentists__title Our dentists
        +underline
        .ourdentists__cards
            .ourdentists__cards-card
                .ourdentists__card-picture
                .ourdentists__card-name 
                    .ourdentists__name-content
                        p.ourdentists__name-uptitle Dr's Title
                        p.ourdentists__name-title Matthew Davis
                    p.ourdentists__name-hovertext make an appointment
            .ourdentists__cards-card
                .ourdentists__card-picture
                .ourdentists__card-name 
                    .ourdentists__name-content
                        p.ourdentists__name-uptitle Dr's Title
                        p.ourdentists__name-title James Anderson
                    p.ourdentists__name-hovertext make an appointment
            .ourdentists__cards-card
                .ourdentists__card-picture
                .ourdentists__card-name 
                    .ourdentists__name-content
                        p.ourdentists__name-uptitle Dr's Title
                        p.ourdentists__name-title Kat Graham
                    p.ourdentists__name-hovertext make an appointment
            .ourdentists__cards-card
                .ourdentists__card-picture
                .ourdentists__card-name 
                    .ourdentists__name-content
                        p.ourdentists__name-uptitle Dr's Title
                        p.ourdentists__name-title Zachary George
                    p.ourdentists__name-hovertext make an appointment
        button.ourdentists__btn More info
