mixin mobilenav
    .mobilenav.active
        .mobilenav__close-btn
            div
            div
        ul.mobilenav__list
            li.mobilenav__list-li
                a(href="#") Home
            li.mobilenav__list-li
                a(href="#") About
            li.mobilenav__list-li
                a(href="#") Our dentists
            li.mobilenav__list-li
                a(href="#") Treatment
            li.mobilenav__list-li
                a(href="#") Contact us