mixin mobilenav
    .mobilenav
        .mobilenav__close-btn
            div
            div
        ul.mobilenav__list
            li.mobilenav__list-li
                a(href="./index.html") Home
            li.mobilenav__list-li
                a(href="./about.html") About
            li.mobilenav__list-li
                a(href="./our-dentists.html") Our dentists
            li.mobilenav__list-li
                a(href="#") Treatment
            li.mobilenav__list-li
                a(href="#") Contact us