extends ../../base
include ./our-dentists/our-dentists
include ./contactus/contactus
include ./newsletter/newsletter
include ./welcome/welcome
include ./treatment/treatment

block variables
    - var title = 'Home'

block content
    +welcome
    +our-dentists
    +treatment
    +contactus
    +newsletter