include ../../../components/underline/underline

mixin welcome
    .welcome
        h1.welcome__title Welcome to dental hope
        +underline
        .welcome__content
            .welcome__content-column
                .welcome__column-content
                    p.welcome__content-subtitle Why choose us?
                    h2.welcome__content-title The reasons why you shoud contact us:
                    .welcome__content-listholder
                        .welcome__listholder-listitem
                            .welcome__listitem-column
                                p.welcome__listitem-number 1
                            .welcome__listitem-column
                                p.welcome__listitem-title Over 5 year experience
                                p.welcome__listitem-text Therapeutic dentistry is a branch of medicine that deals with the diagnosis and treatment of diseases of the teeth, peridental tissues, and oral mucosa.
                        .welcome__listholder-listitem
                            .welcome__listitem-column
                                p.welcome__listitem-number 2
                            .welcome__listitem-column
                                p.welcome__listitem-title More than 5000 happy patiens 
                                p.welcome__listitem-text Healthy teeth are an essential attribute of a successful modern person. If necessary, therapeutic techniques will help restore dental health by installing root pins, fillings.
                        .welcome__listholder-listitem
                            .welcome__listitem-column
                                p.welcome__listitem-number 3
                            .welcome__listitem-column
                                p.welcome__listitem-title 56 proffecional doctors
                                p.welcome__listitem-text If you experience pain, you should immediately contact your dentist.
            .welcome__content-column