mixin footer
    .footer
        .footer__content
            .footer__column
                .footer__logo
                    .footer__logo-icon
                    .footer__logo-text
                        h2.footer__logo-title Dental hope
                        p.footer__logo-subtitle We take care about your smile
            .footer__column
                ul.footer__nav
                    li.footer__nav-li
                        a(href="./index.html") Home
                    li.footer__nav-li
                        a(href="./about.html") About
                    li.footer__nav-li
                        a(href="./our-dentists.html") Our doctors
                    li.footer__nav-li
                        a(href="#") Treatment
                    li.footer__nav-li
                        a(href="#") Contact us
            .footer__column
                .footer__schedule
                    .footer__schedule-icon
                    .footer__schedule-body
                        ul.footer__schedule-list
                            li.footer__schedule-li Mon. - Fri. 8 a.m. - 8 p.m.
                            li.footer__schedule-li Sat. - 10 a.m. - 4 p.m.
                            li.footer__schedule-li Sun. - 10 a.m. - 3 p.m.
            .footer__column
                .footer__contacts
                    .footer__contacts-contact
                        .footer__contact-column.contact--icon
                        .footer__contact-column.contact--text
                            a(href="tel:+1123123456") +1-123-123456
                    .footer__contacts-contact
                        .footer__contact-column.contact--icon
                        .footer__contact-column.contact--text
                            a(href="mailto:dentalhope@gmail.com") dentalhope@gmail.com
                    .footer__contacts-contact
                        .footer__contact-column.contact--icon
                        .footer__contact-column.contact--text
                            p Richmond Hill, NY
                .footer__social
                    .footer__social-icon
                    .footer__social-icon
                    .footer__social-icon