mixin desktopnav
    .desktopnav
        .desktopnav__content
            .desktopnav__content-column.desktopnav--logo
                .desktopnav__logo-icon
                .desktopnav__logo-text
                    h2.desktopnav__logo-title Dental hope
                    p.desktopnav__logo-subtitle We take care about your smile
            .desktopnav__content-column.desktopnav--navs
                ul.desktopnav__navs-list
                    li.desktopnav__list-li
                        a(href="#").active Home
                    li.desktopnav__list-li
                        a(href="#") About
                    li.desktopnav__list-li
                        a(href="#") Our dentists
                    li.desktopnav__list-li
                        a(href="#") Treatment
                    li.desktopnav__list-li
                        a(href="#") Contact us
                .desktopnav__navs-info
                    .desktopnav__info-column
                        .desktopnav__info-icon
                        a(href="tel:1123123456") +1-123-123456
                    .desktopnav__info-column
                        .desktopnav__info-search
            .desktopnav__content-mobilebtn
                div
                div
                div
