block variables

mixin desktopnav
    .desktopnav
        .desktopnav__content
            .desktopnav__content-column.desktopnav--logo
                .desktopnav__logo-icon
                .desktopnav__logo-text
                    h2.desktopnav__logo-title Dental hope
                    p.desktopnav__logo-subtitle We take care about your smile
            .desktopnav__content-column.desktopnav--navs
                ul.desktopnav__navs-list
                    li.desktopnav__list-li
                        if title!= 'Home'
                            a(href="./index.html") Home
                        else 
                            a(href="./index.html").active Home
                    li.desktopnav__list-li
                        if title!= 'About'
                            a(href="./about.html") About
                        else
                            a(href="./about.html").active About
                    li.desktopnav__list-li
                        if title!= 'Our-dentists'
                            a(href="./our-dentists.html") Our dentists
                        else 
                            a(href="./our-dentists.html").active Our dentists
                    li.desktopnav__list-li
                        a(href="#") Treatment
                    li.desktopnav__list-li
                        a(href="#") Contact us
                .desktopnav__navs-info
                    .desktopnav__info-column
                        .desktopnav__info-icon
                        a(href="tel:1123123456") +1-123-123456
                    .desktopnav__info-column
                        .desktopnav__info-search
            .desktopnav__content-mobilebtn
                div
                div
                div
