include ../../../components/underline/underline

mixin treatment
    .treatment 
        h1.treatment__title Treatment
        +underline
        .treatment__content
            .treatment__content-column.treatment--accordion
                .treatment__accordion-content
                    .treatment__accordion-section
                        .treatment__section-head.active Therapy
                            .head-arrow
                                i.fas.fa-chevron-up
                        .treatment__section-body
                            p.treatment__sectio-text Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequuntur tenetur pariatur id repudiandae quam deleniti dignissimos iste ullam aliquid, ut dolore quis officia soluta?
                    .treatment__accordion-section
                        .treatment__section-head Surgery
                            .head-arrow
                                i.fas.fa-chevron-up
                        .treatment__section-body
                            p.treatment__sectio-text Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequuntur tenetur pariatur id repudiandae quam deleniti dignissimos iste ullam aliquid, ut dolore quis officia soluta?
                    .treatment__accordion-section
                        .treatment__section-head Prosthetics
                            .head-arrow
                                i.fas.fa-chevron-up
                        .treatment__section-body
                            p.treatment__sectio-text Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequuntur tenetur pariatur id repudiandae quam deleniti dignissimos iste ullam aliquid, ut dolore quis officia soluta?
                    .treatment__accordion-section
                        .treatment__section-head Children's dentistry
                            .head-arrow
                                i.fas.fa-chevron-up
                        .treatment__section-body
                            p.treatment__sectio-text Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequuntur tenetur pariatur id repudiandae quam deleniti dignissimos iste ullam aliquid, ut dolore quis officia soluta?
                    .treatment__accordion-section
                        .treatment__section-head Hygiene and Prevention
                            .head-arrow
                                i.fas.fa-chevron-up
                        .treatment__section-body
                            p.treatment__sectio-text Lorem ipsum dolor sit amet consectetur adipisicing elit. In consequuntur tenetur pariatur id repudiandae quam deleniti dignissimos iste ullam aliquid, ut dolore quis officia soluta?
                    

            .treatment__content-column.treatment--gallry    
                .treatment__gallery-picture
                .treatment__gallery-picture
                .treatment__gallery-picture
                .treatment__gallery-picture